.game_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.game {
    display: flex;
    justify-content: center;
    align-items:flex-start
}

.game_controls {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}